
<ul style="list-style-type: none;" class="collection with-header">
  <h1 class="collection-header">My Tasks</h1>
  <% @tasks.each do |task| %>
  <li class="collection-item">
  <%= check_box_tag('task', 'completed', task.completed) %>
  <%= link_to task.title, task %>
  </li>
  <% end %>
</ul>

<%= link_to 'Add a new task', new_task_path %>