
<ul style="list-style-type: none;" >
  <h1>My Tasks</h1>
  <% @tasks.each do |task| %>
  <li>
  <span>
  <%= check_box_tag('task', 'completed', task.completed) %>
  </span>
  <%= link_to task.title, task %>
  </li>
  <% end %>
</ul>

<%= link_to 'Add a new task', new_task_path %>